.page-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: main-wrapper-animation 0.25s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
@keyframes main-wrapper-animation {
    0% {
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }
    100% {
        background: rgba( 255, 255, 255, 0 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
    }
}
.main-wrapper-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: main-wrapper-dark-animation 0.25s ease-out;
    animation-fill-mode: forwards;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
@keyframes main-wrapper-dark-animation {
    0% {
        background: rgba( 255, 255, 255, 0 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
    }
    100% {
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }
}
.drone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.plant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-menu-background {
    width: 100vw;
    height: 5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    width: 14vw;
    height: 4vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.top-menu-button-wrapper {
    width: 86vw;
    height: 5vw;
    padding-top: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.top-menu-button {
    width:8.6vw;
    height:2.8vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.lang-button {
    width:6.2vw;
    height:2.8vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./images/top-button/button0.png);
}
.main-contents {
    width:'100%';
    height: calc(100vh - 9vw);
    perspective: 400vw;
    transform-style: preserve-3d;
    overflow: hidden;
}
.bottom {
    width: 100vw;
    height: 4vw;
    background-image: url(./images/bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper-0 {
    width: 100%;
    height: 100%;
    perspective: 400vw;
    transform-style: preserve-3d;
    animation: wrapper-0-animation 0.25s ease-out;
    animation-fill-mode: forwards;
}

@keyframes wrapper-0-animation {
    100% {
        transform: rotateX(0deg);
    }
}

.wrapper-10 {
    width: 100%;
    height: 100%;
    perspective: 400vw;
    transform-style: preserve-3d;
    animation: wrapper-10-animation 0.25s linear;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes wrapper-10-animation {
    100% {
        transform: rotateX(-10deg);
    }
}