{
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "vueIndentScriptAndStyle": true,
    "rangeStart": 0,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 200
            }
        }
    ]
}