.bounce-drone { 
    animation: drone 8s infinite linear; 
} 
@keyframes drone { 
    0% { top: 0; } 
    5% { top: -0.2vh; } 
    10% { top: -0.4vh; } 
    15% { top: -0.6vh; } 
    20% { top: -0.8vh; } 
    25% { top: -1vh; } 
    30% { top: -1.2vh; } 
    35% { top: -1.4vh; } 
    40% { top: -1.6vh; } 
    45% { top: -1.8vh; } 
    50% { top: -2vh; } 
    55% { top: -1.8vh; } 
    60% { top: -1.6vh; } 
    65% { top: -1.4vh; } 
    70% { top: -1.2vh; } 
    75% { top: -1vh; } 
    80% { top: -0.8vh; }
    85% { top: -0.6vh; }
    90% { top: -0.4vh; } 
    95% { top: -0.2vh; }
    100% { top: 0; } 
}

.bounce-plant { 
    animation: plant 4s infinite linear; 
} 
@keyframes plant { 
    0% { top: 0; } 
    2.5% { top: -0.06vh; } 
    5% { top: -0.15vh; } 
    25% { top: -1.5vh; } 
    45% { top: -2.85vh; } 
    50% { top: -3vh; } 
    55% { top: -2.85vh; } 
    75% { top: -1.5vh; } 
    95% { top: -0.15vh; } 
    97.5% { top: -0.06vh; } 
    100% { top: 0; } 
}
