
.about-box{
    position: relative;
    width: 100%;
    height:95%;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width:5vw;
    right: 0;
}
.swiper-slide:nth-child(6) .about-content-text{
    padding-top:3vh;
    top:5%;
}
.swiper-slide:nth-child(8) .about-content-text{
    height: 100%;
    top:5%;
}
.about-content-text{
    position: absolute;
    top:10%;
    right:0;
    width: 50%;
    padding:1vw;
    color:#000;
    font-size:1vw;
    overflow: hidden;
}

.about-content-text>div{
    margin-bottom: 2vh;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9{
    border-radius: 30px;
    left:0vw;
    width:50%;
    height:80%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img10{
    border-radius: 30px;
    left:0vw;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img1 {
    background-image: url(./images/1.png);
}
.img2{
    background-image: url(./images/2.png);
}
.img3{
    background-image: url(./images/3.png);
}
.img4{
    background-image: url(./images/4.png);
}
.img5{
    background-image: url(./images/5.png);
}
.img6{
    background-image: url(./images/6.png);
}
.img7{
    background-image: url(./images/7.png);
}
.img8{
    background-image: url(./images/8.jpg);
}
.img9{
    background-image: url(./images/9.png);
}
.img10{
    background-image: url(./images/10.png);
}
.mySwiper{
    width: 100%;
    height:100%;
}
.swiper-slide{
    width: 100%;
    height: 100vh;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}
/* about 반응형*/

/* 1920 1080 */
@media (max-width:1920px) {
    .swiper-slide:nth-child(6) .about-content-text{
        padding-top:0;
        top:15%;
    }
    .swiper-slide:nth-child(8) .about-content-text{
        top:10%;
    }
    .about-content-text{
        top:15%;
    }
    .about-content-text p{
        margin:1vh;
    }
}
/* 1280  720*/
@media (max-width:1280px) {
    .swiper-slide:nth-child(6) .about-content-text{
        top:50%;
        transform: translateY(-50%);
        height: 100%;
    }
    .swiper-slide:nth-child(8) .about-content-text{
        top:50%;
        transform: translateY(-50%);
        height: 100%;
    }
    .about-content-text{
        top:0;
    }
    .about-content-text{
        top:50%;
        transform: translateY(-50%);
        font-size: 10px;
    }
    .about-content-text>div{
        margin:0 1vh;
    }
    .about-content-text p{
        margin:1vh;
        font-size: 1vw;
    }

}
/* 900px 400px */
@media (max-width:900px){
    .swiper-slide:nth-child(8) .about-content-text{
        height: 100%;
    }
    .about-content-text{
        top:50%;
        transform: translateY(-50%);
        font-size: 10px;
        width: 58%;
    }
    .about-content-text>div{
        margin:0 1vh;
        margin-right: 5vh;

    }
    .about-content-text p{
        margin:0;
        
    }
    .img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9{
        width: 42%;
    }
    
}
