.mypage-bg{
    position: relative;
    width: 100%;
    height: 95%;
}
.character{
    position:absolute;
    top:40%;
    width:23%;
    height: 20vh;
    left: -2%;
    transform: translateY(-50%);
}
.characterName {
    text-align: center;
    color: #fff;
}
.container{
    display: flex;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    width: 80%;
    height:90%;
    background-color: rgba(255,255,255,0.5);
}
.container::before{
    content: '';
    display: block;
    width: 98%;
    height: 97%;
    position: absolute;
    top:1.5%;
    left:50%;
    z-index: -5;
    transform: translateX(-50%);
    background-color: rgb(233, 233, 233);
}

.mypageBox1{
    position: absolute;
    left: 0;
    width:40%;
    height:100%;
}
.mypageBox2{
    position: absolute;
    right:0;
    width:60%;
    height: 100%;
}



.character-img{
    width: 100%;
}



.big-bg > p {
    display: inline-block;
    margin-left: 40%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#64c9dc;
    border: 3px solid #64c9dc;
}

.right{
    right: 0;
    width:100%;
    /* background-color: skyblue; */
    font-size: 0.8vw;
}
.line{
    border-bottom:0.5px solid #64c9dc;
    margin: 1.5vh;
}
.line2{
    border-bottom: 0.5px solid #64c9dc;
    margin-top: 1.3vh;
}

/* left */
.address>table{
    width:90%;
    margin: 0 1vw;
    /* background-color: #505050; */
    height: 13vh;
    margin-top:4vh; 
    font-size: 0.7vw;
    
}
.address tr{
    margin-bottom: 5vh;
}
.address tr:last-child>td{
    font-size: 0.5vw;
    text-overflow: ellipsis;
}

.address th{
    color:#64c9dc;
    font-weight: 500;
    text-align: left;
    padding:0 0.6vw;
    width: 20%;
}
.address td{
    width: 80%;
}
.wallet-width{
    text-overflow: ellipsis;
    cursor: pointer;
}
.boxs{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height:100%;
    width: 90%;
    margin: 0 auto;
}
.box1{
    color:white;
}
.boxs>.box1:nth-child(1){
    margin-top: 1vh;
}
.boxs>.box1:nth-child(2){
    margin-bottom:2vh;
}
.title{
    display: block;
    color: #505050;
    padding-bottom: 1vh;
    text-align: left;
}
.info-title{
    font-size: 0.7vw;
    padding:0.5vh 0;
}
.sw-link{
    border:none;
    width:15%;
    margin-left:0.3vw;
    color:white;
    background-color: #64c9dc;
    border-radius:5px;
    height: 2vh;
    cursor: pointer;
    font-size: 0.5vw;
}
.exchange-xt{
    color:white;
    position: absolute;
    top:2.5vh;
    left:50%;
    transform: translateX(-50%);
    height:11%;
    width: 90%;
    margin: 0 auto;
}
.text-box,.num-box{
    text-align: center;
    display: inline-block;
    background-color: #64c9dc;
    font-size: 0.7vw;
    height: 3vh;
    line-height: 3vh;
}
.text-box{
    width:30%;
    margin-right: 1px;
    margin-bottom: 2px;
}
.num-box{
    width: 68%;
}



/* right */
.help-btn{
    position: absolute;
    top:10%;
    left:30%;
    display: inline-block;
    width: 1vw;
    height: 1.5vh;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bg-down .help-btn{
    top:5%;
    left:26%;
    cursor: pointer;
}
.input-left{
    left:0;
}
.input-content{
    display: inline-block;
    text-align: center;
    background-color: #64c9dc;
    font-size: 0.7vw;
    height: 3vh;
    line-height: 3vh;
    width:20%;
    margin-right: 1px;
    margin-bottom: 2px;
}
.input-box{
    background-color: #fff;
    font-size: 0.55vw;
    height: 3vh;
    line-height: 3vh;
    width: 50%;
    border: none
}


/*  rugo 변환하기 */
.bg-down {
    position: absolute;
    top:50%;
    width: 100%;
    height: 50%;
}
.box-bottom {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    color:white;
    height:50%;
    margin: 0 auto;
}

.box-bottom > p {
    margin-top: 1vh;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #64c9dc;
}

.ex-rugo-content{
    position: relative;
    width: 100%;
}
.content-left, .content-right{
    position: absolute;
    width: 50%;
}
.content-left{
    left:0;
}
.content-right{
    right: 1%;
}
.change-icon{
    position: absolute;
    transform: translateY(10%);
    width: 1vw;
    left: 38%;
    display: inline-block;
    width: 1.5vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.exRugo,.exErugoCoin{
    display: inline-block;
    text-align: center;
    background-color: #64c9dc;
    font-size: 0.6vw;
    line-height: 3vh;
    width:30%;
    color: white;
}
.exErugoCoin{
    width: 20%;
}

.exRugoInput, .exErugoInput {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    font-size: 0.55vw;
    height: 3vh;
    line-height: 3vh;
    width:35%;
    border: none;
    color:black
}
.exErugoInput{
    width: 50%;
}
.exErugoCoin>input {
    width: 55%;
    height: 2vh;
    margin-left: 0.5vw;
}
.exchange, .swExchange{
    position: absolute;
    width: 4vw;
    height:3vh;
    background-color: #64c9dc;
    border: none;
    border-radius: 0.1vw;
    color: white;
    font-size: 0.7vw;
   
}
.exchange{
    right: 0;
}
.swExchange{
    right:0%;
}
.rugo-change-info {
    position: absolute;
    text-align: center;
    color: #64c9dc;
    font-weight: bold;
    bottom:0;
    top: 75%;
    
}
.swChange {
    color:rgb(70,70,70);
    font-size: 12px;
}
.logout-btn{
    position: absolute;
    background-color: #64c9dc;
    top: 83%;
    width: 15vw;
    height:4vh;
    bottom:0.3vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.7vw;
    border: none;
    text-align: center;
    line-height: 1.2vh;
}


/* 1920 x 1080 */
@media all and (max-width:1920px) {
    .address>table{
        width:90%;
        height: 10vh;
        margin-top:2vh; 
        font-size: 0.7vw;
    }
}
/* 1280 x 720*/
@media all and (max-width:1280px) {
    .boxs{
        top: 35%;
    }
    .info-title{
        padding:0.15vh 0;
    }
    .address {
        width: 90%;
        overflow-x: auto;
    }
    ::-webkit-scrollbar {
        height: 4px;
        background-color: rgba(200, 200, 200, 0.8);
        border-radius: 10px;
    }
    .infoSWC {
        font-size: small;
    }
    .swExchange{
        top: 27%;
    }
    .change-icon > img {
        width: 20px;
    }
    .rugo-change-info {
        font-size: 10px;
    }
    .swChange {
        font-size: 10px;
    }
}
/* 960 x 540 */
@media all and (max-width:960px){
    
}

/* 920 x 420 */
@media all and (max-width:920px){
  
}

/* 750 x 370 */
@media all and (max-width:750px){
  
}