.mypage-bg{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
}
.character{
    position:absolute;
    top:50%;
    left:0;
    width:20%;
    height: 20vh;
    transform: translateY(-50%);
}
.container{
    display: flex;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    width: 80%;
    height:90%;
    background-color: rgba(255,255,255,0.5);
}
.container::before{
    content: '';
    display: block;
    width: 98%;
    height: 97%;
    position: absolute;
    top:1.5%;
    left:50%;
    z-index: -5;
    transform: translateX(-50%);
    background-color: rgb(233, 233, 233);
}

.mypageBox1{
    position: absolute;
    left: 0;
    width:40%;
    height:100%;
}
.mypageBox2{
    position: absolute;
    right:0;
    width:60%;
    height: 100%;
}



.character-img{
    width: 100%;
}



.big-bg > p {
    display: inline-block;
    margin-left: 40%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#64c9dc;
    border: 3px solid #64c9dc;
}

.right{
    right: 0;
    width:100%;
    /* background-color: skyblue; */
    font-size: 0.8vw;
}
.line{
    border-bottom:0.5px solid #64c9dc;
    margin: 1.5vh;
}
.line2{
    border-bottom: 0.5px solid #64c9dc;
    margin: 2vh;
}

/* left */
.address>table{
    width:90%;
    margin: 0 1vw;
    /* background-color: #505050; */
    height: 15vh;
    margin-top:4vh; 
    font-size: 0.7vw;
    
}
.address tr{
    margin-bottom: 5vh;
}
.address tr:last-child>td{
    font-size: 0.5vw;
    text-overflow: ellipsis;
}

.address th{
    color:#64c9dc;
    font-weight: 500;
    text-align: left;
    padding:0 0.6vw;
    width: 20%;
}
.address td{
    width: 80%;
}
.wallet-width{
    text-overflow: ellipsis;
}
.boxs{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height:40%;
    width: 90%;
    margin: 0 auto;
    /* background-color: blanchedalmond;/ */
}
.box1{
    color:white;
}
.boxs>.box1:nth-child(1){
    margin-top: 1vh;
}
.boxs>.box1:nth-child(2){
    margin-bottom:2vh;
}
.title{
    display: block;
    color: #505050;
    padding-bottom: 1vh;
    text-align: left;
}
.info-title{
    font-size: 0.7vw;
    padding:0.5vh 0;
}
.sw-link{
    border:none;
    width:15%;
    margin-left:0.3vw;
    color:white;
    background-color: #64c9dc;
    border-radius:5px;
    height: 2vh;
    cursor: pointer;
    font-size: 0.5vw;
}
.exchange-xt{
    color:white;
    position: absolute;
    top:2.5vh;
    left:50%;
    transform: translateX(-50%);
    height:11%;
    width: 90%;
    margin: 0 auto;
}
.text-box,.num-box{
    text-align: center;
    display: inline-block;
    background-color: #64c9dc;
    font-size: 0.7vw;
    height: 3vh;
    line-height: 3vh;
}
.text-box{
    width:30%;
    margin-right: 1px;
    margin-bottom: 2px;
}
.num-box{
    width: 68%;
}



/* right */
.help-btn{
    position: absolute;
    top:10%;
    left:30%;
    display: inline-block;
    width: 1vw;
    height: 1.5vh;
    /* 기능구현하면 이미지 추가 */
    /* background-image: url('./images/help.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bg-down .help-btn{
    top:5%;
    left:26%;
    cursor: pointer;
}
.input-left{
    left:0;
}
.input-content{
    display: inline-block;
    text-align: center;
    background-color: #64c9dc;
    font-size: 0.7vw;
    height: 3vh;
    line-height: 3vh;
    width:20%;
    margin-right: 1px;
    margin-bottom: 2px;
}
.input-box{
    background-color: #fff;
    font-size: 0.55vw;
    height: 3vh;
    line-height: 3vh;
    width: 50%;
    border: none
}

.xtScale {
    width: 100%;
    height: 4.5vh;
}
.xtComInfo{
    position: absolute;
    top:65%;
    right:32%;
    width: 1.2vw;
    height: 2vh;
    background-image: url('./images/help.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.amountCheck{
    position: absolute;
    top: 60%;
    left: 75%;
    border: 3px solid #64c9dc;
    width: 2.5vh;
    height: 2.5vh;
}
.dotted-box {
    width: 100%;
    border-radius: 30px;
    border: 3px dotted #64c9dc;
    background-color: rgba(255,255,255,0.5);
    padding: 5%;
    resize: none;
}
.sw-content{
    position: relative;
    top:2vh;
}
/*right bottom */
.bg-down {
    position: absolute;
    top:50%;
    width: 100%;
    height: 50%;
}
.box-bottom {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    color:white;
    height:50%;
    margin: 0 auto;
}

.box-bottom > p {
    margin-top: 1vh;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #64c9dc;
}

.ex-rugo-content{
    position: relative;
    width: 100%;
}
.content-left, .content-right{
    position: absolute;
    width: 50%;
}
.content-left{
    left:0;
}
.content-right{
    right: 1%;
}
.change-icon{
    position: absolute;
    transform: translateY(10%);
    left: 38%;
    display: inline-block;
    width: 1.5vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.exRugo,.exErugoCoin{
    display: inline-block;
    text-align: center;
    background-color: #64c9dc;
    font-size: 0.6vw;
    line-height: 3vh;
    width:30%;
    color: white;
}
.exErugoCoin{
    width: 20%;
}

.exRugoInput, .exErugoInput {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    font-size: 0.55vw;
    height: 3vh;
    line-height: 3vh;
    width:35%;
    border: none;
    color:black
}
.exErugoInput{
    width: 50%;
}
.exErugoCoin>input {
    width: 55%;
    height: 2vh;
    margin-left: 0.5vw;
}
.exchange, .swExchange{
    position: absolute;
    width: 4vw;
    height:3vh;
    background-color: #64c9dc;
    border: none;
    border-radius: 0.1vw;
    color: white;
    font-size: 0.7vw;
    margin-left: 0.5vw;
}
.exchange{
    right: 0;
}
.swExchange{
    right:5%;
}
.rugo-change-info{
    position: absolute;
    bottom:0;
    left:10%;
}

.logout-btn{
    position: absolute;
    background-color: #64c9dc;
    top: 80%;
    width: 8vw;
    height:4vh;
    bottom:0.3vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.7vw;
    border: none;
    text-align: center;
    line-height: 1.2vh;
}
/* 1920 1080 */
@media (max-width:1920px) {
    .container{
        height:90%;
    }
    .mypageBox1, .mypageBox2{
        position: relative;
    }
    .address>table{
        height: 10vh;
        margin-top:3vh; 
        font-size: 0.7vw;
    }
    .address tr:last-child>td{
        font-size: 0.4vw;
    }
    .sw-link{
        width: 20%;
    }
    .rugo-change-info{
        position: absolute;
        bottom:-45%;
        left:0%;
        font-size:0.5vw;
    }
}
/* 1280  720*/
@media (max-width:1280px) {
    .address>table{
        height: 5vh;
        margin-top:2vh; 
        font-size: 0.7vw;
    }

    .rugo-change-info{
        width: 100%;
        left:-10%;
        font-size: 5px;
    }
    .box-bottom>p{
        font-size: 0.8vw;
    }
    .title{
        font-size: 0.8vw;
    }
    .logout-btn{
        top:85%;
        height: 3vh;
    }
    
}
/* 900px 400px */
@media (max-width:900px){
    .container{
        display: block;
        height: 95%;
        background-color: rgba(255,255,255,0);
    }
    .container::before{
        display: none;
    }
    .mypageBox1{
        z-index: -55;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.7);
    }
    .mypageBox1::before, .mypageBox2::before{
        content: '';
        display: block;
        width: 95%;
        height: 97%;
        position: absolute;
        top:0;
        left:50%;
        z-index: -5;
        transform: translateX(-50%);
        background-color: rgb(233, 233, 233);
    }
    .mypageBox1::before{
        top:1vh;
    }
    .line{
        width: 100%;
    }
    .address>table{
        height: 27vh;
        margin-top:0vh;
        padding-top:1vh; 
        font-size: 1vw;
    }
    .address tr:last-child>td{
        font-size: 1vw;
    }
    .address th{
        text-align: center;
        width: 25%;
    }
    .line{
        margin: 1vh;
    }
    .info-title{
        font-size: 0.5vw;
    }
    .boxs{
        position: none;
        height:100%;
        width: 80%;
    }
    .box1{
        width: 50%;
    }
    .boxs>.box1:nth-child(1){
        margin-top: 0vh;
        display: inline-block;
    }
    .boxs>.box1:nth-child(2){
        margin-bottom:0vh;
    }
    .boxLeft{
        display: inline-block;
    }
    .boxRight{
        display: inline-block;
    }
    .text-box,.num-box{
        height: 5vh;
        line-height: 5vh;
    }
    .sw-link{
        width: 30%;
        height: 4vh;
    }
    .mypageBox2{
        z-index: 0;
        top:0;
        left:0;
        width: 100%;
        background-color:rgba(255,255,255,0.7);
    }
    .pageBox2{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        width: 90%;
        height: 100%;
    }
    .exchange-xt{
        top:1vh;
        height: 5vh;
        width: 90%;
    }
    .title{
        font-size: 1vw;
        padding-bottom:0;
    }
    .input-content{
        margin-bottom:0;
        height: 5vh;
        line-height: 5vh;
    }
    .input-box{
        width: 50%;
        height: 5vh;
    }
    .xtScale{
        position: absolute;
        top:0;
        width: 100%;
        height:4.4vh;
    }
    .sw-content{
        top:50%;
        width: 100%;
        height: 120%;
    }
    .bg-down{
        position: absolute;
        left:0;
        top:75%;
        transform: translateY(-50%);
        width: 100%;
    }
    .box-bottom p{
        font-size: 1vw;
    }
    .exRugo,.exErugoCoin{
        height: 4vh;
        line-height: 4vh;
    }
    .exRugoInput, .exErugoInput{
        height: 4vh;
    }
    .exchange,.swExchange{
        top:2vh;
        width: 6vw;
        height: 4vh;
    }
    .change-icon{
        width:2vw;
        margin-left:0.1vw;
    }
    /* .help-btn{
        position: absolute;
        top:5%;
        left:50%;
    } */
    .bg-down .help-btn{
        top:5%;
        left:35%;
    }
    .rugo-change-info{
        width: 100%;
        left:-10%;
        bottom:-65%;
    }
    .logout-btn{
        top:85%;
        height: 5vh;
    }
}
