
.buyland-box{
    position: relative;
    width: 100%;
    height:95%;
    border-top:0.5vh solid white;
    border-bottom: 0.5vh solid white;
    background-color: rgba(255, 255, 255, 0.5);
}
.buyland-btn{
    position: absolute;
    top:7%;
    right:5%;
    width:7vw;
    height: 5vh;
    background-image: url(./images/buyland-btn.png);
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 3vh;
    text-align: center;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    text-indent: -9999px;
}
.buyland-content-text,.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;
}
.buyland-content-text{
    right:1vw;
    width: 95%;
    height:80%;
    padding: 10px;
    font-size:.95vw;
    text-align: justify;
    overflow-y: auto;
}
.buyland-content-text p{
    margin: 0;
}
.buyland-swiper-text p{
    margin: 0;
}

.buyland-swiper-text p{
    margin: 0;
    padding: 0;
}
.buyland-content-text>div{
    position: absolute;
    right: 0;
    padding:20px;
    width: 50%;
    white-space: normal;
}
.buyland-content-text p{
    margin-bottom: 2vh;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
    border-radius: 15px;
    left:0.5vw;
    width:50%;
    height:81%;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
.grap1,.grap2{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height:25vh;
}
.grap1{
    margin-top: 5%;
}
.grap2{
    margin-top: 0;
}
.img1 {
    background-image: url(./images/1.png);
}
.img2{
    background-image: url(./images/2.png);
}
.img3{
    background-image: url(./images/3.png);
}
.img4{
    background-image: url(./images/4.jpg);
}
.img5{
    background-image: url(./images/5.jpg);
}
.img6{
    background-image: url(./images/6.jpg);
}
.img7{
    background-image: url(./images/7.jpg);
}
.grap1{
    background-image: url(./images/grap1.png);
}
.grap2{
    background-image: url(./images/grap2.png);
}
.mySwiper{
    width: 100%;
    height:100%;
}
.swiperBuyland{
    position: absolute;
    right: 0;
    width:50%;
}

.swiperland{
    width: 10vw;
}
/* .swiperland>.buyland-swiper-text{
    margin-top:5%;
    margin-left:1vw;
} */

.buyland-swiper-text, .buylandSwiperText{
    position: absolute;
    text-align: justify;
    top: 2vw;
    right:1vw;
    height:100%;
    padding: 30px;
    font-size:.9vw;
    overflow: hidden;
}
.buylandSwiperText p{
    font-size: .85vw;
    margin-bottom: .95vw;
    margin: 20px;
    text-align: justify;
}
.buylandHight{
    top:5%;
}
.buyland-swiper-text-font{
    text-align: center;
    color:rgb(117, 184, 95);
}
.swiper-slide{
    width: 100%;
    height: 100%;
}


/* buyland 반응형*/
/* 1920 1080 */
@media (max-width:1920px) {
    .buyland-swiper-text{
        top:0;
    }
    .swiperland>.buyland-swiper-text{
        margin-top:10%;
        margin-left:1vw;
    }
    .buylandHight{
        top:1%;
        left:1vw;
    }
    .buylandHight p{
        margin:0vh;
    }
    .buyland-swiper-text p{
        margin:1vw 0.8vw;
    }
    .lastContent>p{
        margin:0 0.8vw;
    }
    .lastHeight{
        margin-top:5%;
    }

}
/* 1280  720*/
@media (max-width:1280px) {
    :root{--swiper-navigation-size:25px}
    .grap1, .grap2 {
        margin: 0 auto;
        width: 95%;
        height:23vh;
    }
    .buyland-swiper-text>p{
       margin: 10 auto;
    }
}
/* 900px 400px */
@media (max-width:900px){
    :root{--swiper-navigation-size:20px}
    .grap1, .grap2 {
        margin-top: 0%;
    }
    .swiper-slide:first-child .buyland-content-text{
        height: 100%;
    }
    .buyland-content-text{
        height: 80%;
    }
    .buyland-content-text p {
        line-height: 120%;
        padding: 0;
        margin: 0;
    }
    .buyland-content-text > div {
        margin: 0;
        padding: 0;
        padding-right : 15px;
        padding-left: 5px;
        
    }
    .buyland-swiper-text {
        margin: 0;
        padding: 0;
        padding-right : 10px;
        padding-left: 5px;
        overflow-y: auto;
        line-height: 90%;
        
    }
    .buyland-swiper-text > div {
        margin: 0;
        padding: 0;

    }
    .swiper-slide:first-child .buyland-swiper-text{
        height: 100%;
    }
}
